/* import google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common css */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    width: 870px;
    margin-top: 21px;
    background-color:#F3F1FF;
    border-radius: 5px;
    padding: 30px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}


/* Header styles */
 .nav-container{
    background-color: #562EFF;
    width: 950px;
    height: 100px;
    margin-left: 270px;
    border-radius: 60px;
}
.nav-item{
    display: flex;
    margin-left: 20px;
}
.nav-list{
    list-style: none;
     padding: 30px;  
}
.nav-list a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
} 
/* Top players styles */
.top-players{
    margin-bottom: 30px;
}
.section-title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 26px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    font-size: 18px;
    margin-left: 16px;
}

/* Top blogs styles */
.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 27px;
}
.blog{
    display: flex;
}
.thumbnail img{
    width: 224px;
    height: 127px;
}
.blog-info{
    margin-left: 18px;
}
.blog-title{
    font-size: 20px;
   color: #000000;
}
.blog-author{
    font-size: 16px;
}
.blog-author a{
    color: #562EFF;
}

/* latest course styles */
.courses{
    display: grid;
    grid-template-columns: repeat( 3,1fr);
    grid-column-gap: 26px;
}
.course{
    box-shadow: 10px 10px 5 px gray;
    border: 10px solid white; 
    border-image-slice: 1;
    border-radius: 10px;
}
.course-banner img{
    width: 224px;
    height: 104px; 
    padding-left: 12px;  
}
.course-author{
    color: #ED6B4F;
    font-size: 14.6913px;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-star{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
}
.course-info span{
    color: #A2A2A2;
}
.course-duration{
    color: #FF4A60;
    background-color: #FEE5DF;
    border-radius: 14.6913px;
}
.fa-clock{
    color: #FF4A60;
}

/* footer styles */
footer{
    background-color: black;
    width: 1000px;
    height: 100px;
    margin-left: 250px;
    border-radius: 50px;
}
footer p{
    color: white;
    text-align: center;
    margin-top: 30px;
    padding-top: 40px;
}

/*--------- Media Query----------- */

/* Mobile screen */
@media only screen and (max-width:688px) {
    .nav-container{
        width: 100%;
        margin: 20px auto;
    }
    .nav-list a{
        flex-direction: column;
    }
    .container{
        width: 100%;
    }
    .nav-list a{
            width: 100%;
    }
    .players, .blogs, .courses{
        grid-template-columns: repeat(1,1fr);
    }
    .player, .blog{
        flex-direction: column;
    }
    footer{
        width: 100%;
        margin: 20px auto;
    }
    
}
/* tablet devices */
@media only screen and (min-width:688px) and (max-width:992px)  {
    .nav-container{
        width: 100%;
        margin: 20px auto;
    }
    .container{
        width: 100%;
    }
    .players, .courses{
        grid-template-columns: repeat(2,1fr);
    }
    .blogs{
        grid-template-columns: repeat(1,1fr);
    }
    footer{
        width: 100%;
        margin: 20px auto;
    }
    
}
